@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: beige;
    height: 60;
    position: fixed;
    width: 1525;
    z-index: 9999;
}

.nav .left-nav {
    margin: -3%;
}

.nav .left-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 65px;
}

.nav .left-nav ul li {
    list-style: none;
    margin: 0px 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20;
}

.nav .left-nav ul li a {
    cursor: pointer;
    text-decoration: solid;
    color: black;
    transition: ease-in-out 300ms;
}

.nav .middle-nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5;
    cursor: pointer;
    color: black;
    font-size: 25;
    text-decoration: solid;
    font-weight: bolder;
}

.nav .left-nav ul li a:hover {
    color: rgb(254, 94, 94);
}

.nav .right-nav ul li a:hover {
    color: rgb(254, 94, 94);
}

.nav .right-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 60px 0px -65px;
}

.nav .right-nav ul li {
    list-style: none;
    margin: 0px 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20;
}

.nav .right-nav ul li a {
    text-decoration: solid;
    cursor: pointer;
    color: black;
    transition: ease-in-out 300ms;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: rgb(222, 252, 234);
}

.section-1 .sub1-section1 {
    background-image: url(images/aes.jpg);
    background-size: cover;
    min-height: 90%;
    width: 80%;
    float: left;
    height: 500;
    position: relative;
}

.section-1 .sub2-section1 {
    width: 45vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.section-1 .sub2-section1 h3 {
    font-size: 15;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.section-1 .sub2-section1 h2 {
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.section-1 .sub2-section1 h1 {
    font-size: 3vw;
    text-align: center;
    font-weight: lighter;
}

.section-3 {
    background: #f5f1ed;
    height: 590;
    width: 100%;
    font-size: 1.25vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.section-3 .subsection1 {
    margin-left: 20;
    color: rgb(255, 250, 250);
}

.section-3 .image {
    background-image: url(images/bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;
    background-size: 100%;
}

.section-4 {
    height: 40vh;
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.section-6 {
    height: 60vh;
    background: rgb(238, 228, 253);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-right: 10;
    padding-bottom: 100;
}

.section-6 p {
    color: #101010;
    font-size: 2vw;
    padding: 0px 50px 0px 150px;
    font-family: 'Rubik', sans-serif;
    opacity: 95%;
}

.section-8 {
    background: #101010;
    height: 50;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
}

.section-8 .sub1-section8 {
    display: flex;
    align-items: center;
    padding: 20px 0px 0px 10px;
    font-size: 10;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #f5f1ed;
}

.subscribe-container {
    position: relative;
    bottom: 147;
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: #000000
}

#confirmationMessage {
    margin-top: 16px;
    color: #000000;
    font-weight: bold;
}